[Unit]
Description=Test Service for SIGTERM Handling in auto_temp_gpiod_ctrl
After=network.target

[Service]
Type=simple
Environment=PYTHONPATH=/root/orange-pi-zero-auto-temp-ctrl
ExecStart=/root/orange-pi-zero-auto-temp-ctrl/venv/bin/python -m auto_temp_gpiod_ctrl --on-temp 40 --off-temp 35
Restart=no
User=root

[Install]
WantedBy=multi-user.target
